.rdp-root {
  --rdp-today-color: var(--primary);
  --rdp-accent-color: var(--app-icon-border);
  --rdp-selected-border: 1px solid var(--primary);
  --rdp-accent-background-color: var(--primary);
  --rdp-day-height: calc((100vw - 35px) / 7);
  --rdp-day-width: calc((100vw - 35px) / 7);
  --rdp-day_button-height: 100%;
  --rdp-day_button-width: 100%;
}

.simple-date-picker {
  .rdp-month_caption {
    @apply px-[0.6rem] mb-1;
  }

  .rdp-caption_label {
    @apply text-[16px] font-outfit font-bold text-white;
  }

  .rdp-dropdown {
    @apply appearance-none outline-0;
  }

  .rdp-weekdays,
  .rdp-day_button {
    @apply text-[15px] text-input-placeholder;
  }

  .rdp-today .rdp-day_button {
    @apply text-primary;
  }

  .rdp-selected .rdp-day_button {
    @apply bg-primary text-white text-[15px];
  }
}