:root {
  --primary: #8772FF;
  --secondary: #D9FE7D;
  --tertiary: #2E2E2E;
  --input: #2E2E2E;
  --input-placeholder: #969696;
  --app-icon-border: #969696;
  --pill-border: #2E2E2E;
  --gray-border: #4E4E4E;
  --modal-background: #191919;
  --danger: #FF2929;
  --lime-primary: #9381FF;
  --lime-green: #D9FE7D;
  --dark-gray: #272727;
  --avatar-background: #464646;
  --tg-content-safe-area-inset-top: 0px;
  --tg-safe-area-inset-top: 0px;
  --tg-safe-area-custom-top: 0px;
}